$white: #fff;
.btn-primary{
    background-color: #00d1b2;
    //#3FAF82
    //hsl(171, 100%, 41%)
    //00d1b2
    border: #00d1b2;

}
.btn-primary:hover{
color:#00d1b2; 
background-color: white ;
}

@import url('https://fonts.googleapis.com/css?family=Viga');

h1
{font-family :'Viga', sans-serif;}